PORT=4000

# DB url for Prisma
# Example: postgresql://foo:bar@localhost:5432/onloc?schema=public
# Username: foo
# Password: bar
# DB: onloc
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<db>?schema=public